<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='CSS/style.css') }}" >
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='CSS/customize.css') }}" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
    <title>Customize</title>
</head>
<body>
    <header>
        <nav class="navbar justify-content-between">
            <a href="/" class="navbar-brand" id="leftheader">
                <img src="{{ url_for('static',filename='images/placeholder.png') }}" width="50" height="50">
                <p>Site Title</p>
            </a>
            <form class="form-inline" id="rightheader">
                <a href="#" >Repo</a>
                <a href="/about" >About</a>
                <a href="/mint" >Mint</a>
                <a href="/customize" >Customize</a>
                <a href="/dashboard/0" >Dashboard</a>
                <a href="#" >Sign Out</a>
            </form>
            
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="template">
                <div class="template-view">
                    <img src="{{ url_for('static',filename='images/my_avatar.svg') }}" width="auto" height="60%">
                </div>
                <div class="template-selector-parent">
                    <form action="/customize/update" method="post" >
                        <div class="template-selector">
                            <h3>Name field{{avatar.shirt_graphic}}</h3>
                            <div>
                                <label for="style" class="form-label">Style</label>
                                <select class="form-select" id="style" name="style" onchange="this.form.submit()">
                                    {% for AvatarStyle in styles %}
                                        {% if AvatarStyle.value == avatar.style %}
                                        <option value="{{AvatarStyle}}" selected>{{AvatarStyle.name}}</option>
                                        {% else %}
                                        <option value="{{AvatarStyle}}">{{AvatarStyle.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="background_color" class="form-label">Background color</label>
                                <select class="form-select" id="background_color" name="background_color" onchange="this.form.submit()">
                                    {% for BackgroundColor in backgroundcolors %}
                                        {% if BackgroundColor.value == avatar.background_color %}
                                        <option value="{{BackgroundColor}}" selected>{{BackgroundColor.name}}</option>
                                        {% else %}
                                        <option value="{{BackgroundColor}}">{{BackgroundColor.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="skin_color" class="form-label">Skin color</label>
                                <select class="form-select" id="skin_color" name="skin_color" onchange="this.form.submit()">
                                    {% for SkinColor in skincolors %}
                                        {% if SkinColor.value == avatar.skin_color %}
                                        <option value="{{SkinColor}}" selected>{{SkinColor.name}}</option>
                                        {% else %}
                                        <option value="{{SkinColor}}">{{SkinColor.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <h5>Head top</h5>
                            <div>
                                <label for="head_top" class="form-label">Head top</label>
                                <select class="form-select" id="head_top" name="head_top" onchange="this.form.submit()">
                                    {% for TopType in toptypes %}
                                    <option value="{{TopType}}">{{TopType.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="hair_color" class="form-label">Hair color</label>
                                <select class="form-select" id="hair_color" name="hair_color" onchange="this.form.submit()">
                                    {% for HairColor in haircolors %}
                                        {% if HairColor.value == avatar.hair_color %}
                                        <option value="{{HairColor}}" selected>{{HairColor.name}}</option>
                                        {% else %}
                                        <option value="{{HairColor}}" >{{HairColor.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="hat_color" class="form-label">Hat color</label>
                                <select class="form-select" id="hat_color" name="hat_color">
                                    
                                </select>
                            </div>
                            <h5>Face</h5>
                            <div>
                                <label for="facial_hair_type" class="form-label">Facial hair type</label>
                                <select class="form-select" id="facial_hair_type" name="facial_hair_type" onchange="this.form.submit()">
                                    {% for FacialHairType in facial_hair_types %}
                                        {% if FacialHairType.value == avatar.facial_hair %}
                                        <option value="{{FacialHairType}}" selected>{{FacialHairType.name}}</option>
                                        {% else %}
                                        <option value="{{FacialHairType}}">{{FacialHairType.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="facial_hair_color" class="form-label">Facial hair color</label>
                                <select class="form-select" id="facial_hair_color" name="facial_hair_color" onchange="this.form.submit()">
                                    {% for HairColor in haircolors %}
                                        {% if HairColor.value == avatar.facial_hair_color %}
                                        <option value="{{HairColor}}" selected>{{HairColor.name}}</option>
                                        {% else %}
                                        <option value="{{HairColor}}" >{{HairColor.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="mouth_type" class="form-label">Mouth type</label>
                                <select class="form-select" id="mouth_type" name="mouth_type" onchange="this.form.submit()">
                                    {% for MouthType in mouthtypes %}
                                        {% if MouthType.value == avatar.mouth %}
                                        <option value="{{MouthType}}" selected>{{MouthType.name}}</option>
                                        {% else %}
                                        <option value="{{MouthType}}">{{MouthType.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="eye_type" class="form-label">Eye type</label>
                                <select class="form-select" id="eye_type" name="eye_type" onchange="this.form.submit()">
                                    {% for EyeType in eyetypes %}
                                        {% if EyeType.value == avatar.eyes %}
                                        <option value="{{EyeType}}" selected>{{EyeType.name}}</option>
                                        {% else %}
                                        <option value="{{EyeType}}">{{EyeType.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="eyebrow_type" class="form-label">Eyebrow type</label>
                                <select class="form-select" id="eyebrow_type" name="eyebrow_type" onchange="this.form.submit()">
                                    {% for EyebrowType in eyebrowtypes %}
                                        {% if EyebrowType.value == avatar.eyebrows %}
                                        <option value="{{EyebrowType}}" selected>{{EyebrowType.name}}</option>
                                        {% else %}
                                        <option value="{{EyebrowType}}">{{EyebrowType.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <h5>Clothes and accessories</h5>
                            <div>
                                <label for="accessories_type" class="form-label">Accessories type</label>
                                <select class="form-select" id="accessories_type" name="accessories_type" onchange="this.form.submit()">
                                    {% for AccessoryType in accessorytypes %}
                                        {% if AccessoryType.value == avatar.accessory %}
                                        <option value="{{AccessoryType}}" selected>{{AccessoryType.name}}</option>
                                        {% else %}
                                        <option value="{{AccessoryType}}">{{AccessoryType.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="clothes_type" class="form-label">Clothes type</label>
                                <select class="form-select" id="clothes_type" name="clothes_type" onchange="this.form.submit()">
                                    {% for ClothingType in clothingtypes %}
                                        {% if ClothingType.value == avatar.clothing %}
                                        <option value="{{ClothingType}}" selected>{{ClothingType.name}}</option>
                                        {% else %}
                                        <option value="{{ClothingType}}">{{ClothingType.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="clothes_color" class="form-label">Clothes color</label>
                                <select class="form-select" id="clothes_color" name="clothes_color" onchange="this.form.submit()">
                                    {% for ClothingColor in clothingcolors %}
                                        {% if ClothingColor.value == avatar.clothing_color %}
                                        <option value="{{ClothingColor}}" selected>{{ClothingColor.name}}</option>
                                        {% else %}
                                        <option value="{{ClothingColor}}">{{ClothingColor.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="clothes_graphic_type" class="form-label">Clothes graphic type</label>
                                <select class="form-select" id="clothes_graphic_type" name="clothes_graphic_type" onchange="this.form.submit()">
                                    {% for ClothingGraphic in clothinggraphics %}
                                        {% if ClothingGraphic.value == avatar.shirt_graphic %}
                                        <option value="{{ClothingGraphic}}" selected>{{ClothingGraphic.name}}</option>
                                        {% else %}
                                        <option value="{{ClothingGraphic}}">{{ClothingGraphic.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- <div class="form-group">
                                <p>Description</p>
                                <textarea class="form-control" id="description" rows="2"></textarea>
                            </div> -->
                            <section>
                                <a href="/customize/random"><button type="button" class="btn btn-secondary">Randomize</button></a>
                                <button type="submit" class="btn btn-dark">Confirm</button>
                            </section>
                            
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </main>
    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4">

        </section>
    </footer>
    <script>

    </script>
</body>
</html>