<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='CSS/style.css') }}" >
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='CSS/customize.css') }}" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
    <title>Customize</title>
</head>
<body>
    <header>
        <nav class="navbar justify-content-between">
            <a href="/" class="navbar-brand" id="leftheader">
                <img src="{{ url_for('static',filename='images/placeholder.png') }}" width="50" height="50">
                <p>Site Title</p>
            </a>
            <form class="form-inline" id="rightheader">
                <a href="#" >Repo</a>
                <a href="/about" >About</a>
                <a href="/mint" >Mint</a>
                <a href="/customize" >Customize</a>
                <a href="/dashboard/0" >Dashboard</a>
                <a href="#" >Sign Out</a>
            </form>
            
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="template">
                <div class="template-view">
                    <img src="{{ url_for('static',filename='images/placeholder.png') }}" width="auto" height="60%">
                </div>
                <div class="template-selector-parent">
                    <form action="/dashboard/0" method="get">
                        <div class="template-selector">
                            <h3>Name field</h3>
                            <div class="background">
                                <button><i class="material-icons">arrow_back</i></button>
                                
                                <p>Background</p>
                                <button><i class="material-icons">arrow_forward</i></button>
                                
                            </div>
                            <div class="hat">
                                <button><i class="material-icons">arrow_back</i></button>
                                
                                <p>Hat</p>
                                <button><i class="material-icons">arrow_forward</i></button>
                                
                            </div>
                            <div class="clothes">
                                <button><i class="material-icons">arrow_back</i></button>
                                
                                <p>clothes</p>
                                <button><i class="material-icons">arrow_forward</i></button>
                                
                            </div>
                            <div class="item">
                                <button><i class="material-icons">arrow_back</i></button>
                                
                                <p>Item</p>
                                <button><i class="material-icons">arrow_forward</i></button>
                                
                            </div>
                            <div class="pet">
                                <button><i class="material-icons">arrow_back</i></button>
                                
                                <p>Pet</p>
                                <button><i class="material-icons">arrow_forward</i></button>
                                
                            </div>
                            <div class="form-group">
                                <p>Description</p>
                                <textarea class="form-control" id="description" rows="2"></textarea>
                            </div>
                            <section>
                                <button class="btn btn-secondary">Randomize</button>
                                <button type="submit" class="btn btn-dark">Confirm</button>
                            </section>
                            
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </main>
    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4">

        </section>
    </footer>
</body>
</html>