.connect{
    display: flex;
    background-color: rgb(243, 243, 243);
    text-decoration: none;
    border-radius: 0.25rem;
    margin: 20px;
    width: 400px;
}
.connect p{

    color: black;
    margin: 10px 40px 10px 10px;
    padding-left: 30px;
}

.connect img {
    margin: 10px 10px 10px 10px;
}
.connect:hover{
    background-color: slategray;
    cursor: pointer;
}

.wallet-buttons {
    padding-left: 0px;
}
.main {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 100px;
}

.leftmain {
    width: 550px;
    /* margin-right: 300px; */
    /* background-color: aqua; */
}

.leftmain a {
    padding-left: 40px;
    padding-right: 40px;
}

.leftmain h1 {
    font-size: 60px;
}

.rightmain {
    /* height: 600px; */
    width: 550px;
    padding-left: 60px;
    background-color: white;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
}

.rightmain h3{
    font-size: 30px;
    padding: 20px 20px 0px 70px;
}